<!DOCTYPE html>
<html>
  <head>
    <title><%= displayName %>'s page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Hello, <%= displayName %>!</p>
    <img src="<%= image_url %>" >
    <p>Your Twitter ID : <%= screen_name %></p>
    <textarea id="tweet-content" cols="30" rows="5" maxlength="140" placeholder="type your tweet!"></textarea>
    <br>
    <script>
      function tw(){
        var textbox = document.getElementById("tweet-content");
        const value = "/tweet/" + "<%= id %>" + "/" + textbox.value;
        textbox.value = "";
        location.href = value;
      }
    </script>
    <button onclick="tw()">tweet!</button>
  </body>
</html>

